/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2020, 12:53:29 PM
    Author     : Luke Tang
*/
/* change the background fade */
html {
  width: 100vw;
  height: 100vh;
  background: #2C3E50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C3E50 , #FD746C); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #98B4D4 , #98B4D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Trebuchet MS', 'Helvetica', 'sans-serif';
}

footer {
  text-align: center;
  padding: 50px;
  background-color: #3b5998;
  color: wheat;
  border-radius: 0px;
  border: solid;
  bottom: 0;
   width:100%;
   height:60px; 
   position: absolute;
}
.c {
    background-color: #009B77;
}
.delete {
    background-color:darkred;
}
button {
    background-color: #88B04B;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0.25em;
    padding: 0.75em;
    outline: none;
    
}
 button{
    border-radius: 50px;
    margin: auto;
}
#menu button {
    border-radius: 50px;
    margin: auto;
     vertical-align: middle;
     align-items: center;
   
}

button:hover {
    background-color: #1d2c4c;
}

button:active {
    transform: translateY(4px);
}

#categories {
    display: inline-block;
    margin: 0px;
}

h1 {
    
    border: solid;
    border-radius: 50px;
    padding: 0.75em;
    background-color: #3b5998;
    color: wheat;
    text-align: center;
}

form {
    margin: auto;
    width: 25%;
}

label {
    display: inline-block;
    width: 6em;
    margin: auto;
    padding: 0.25em 0;
    text-align: right;
    vertical-align: top;
}

#quantity {
    vertical-align: middle;
}

h2 {
    color: #696969;
}

textarea {
    margin: 0.25em;
    resize: none;
}

img {
    margin: auto;
    border: 4px solid black;
    border-radius: 25px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border-bottom: 1px dotted black;
    margin: 0.8em auto;
    padding: 0.25em;
    text-align: left;
    width:50%;
    table-layout: fixed;
}


.center {
    text-align: center;
}
.center1 {
    text-align: center;
}
.right {
    text-align: right;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #3b5998;
    text-align: center;
    align-items: center;
}

li {
  float: left;
  border-right: 1px solid #bbb;
  align-items: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   align-items: center;
}

li a:hover {
  background-color: #1d2c4c;
}

li a:active {
    transform: translateY(4px);
    align-items: center;
}

li:last-child {
  border-right: none;
}
